openapi: 3.1.0
info:
  title: CDOS Core API
  description: Clinical Development Operating System — REST API for managing clinical trial data
  version: 1.0.0
  contact:
    name: CDOS Team
    email: cdos@example.com

servers:
  - url: https://api.cdos.io/v1
    description: Production
  - url: https://api.staging.cdos.io/v1
    description: Staging

security:
  - oauth2: [read, write]

paths:
  /studies:
    get:
      operationId: listStudies
      summary: List all studies
      tags: [Studies]
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/StudyStatus'
      responses:
        '200':
          description: Paginated list of studies
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Study'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createStudy
      summary: Create a new study
      tags: [Studies]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudyCreate'
      responses:
        '201':
          description: Study created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Study'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /studies/{study_id}:
    get:
      operationId: getStudy
      summary: Get a study by ID
      tags: [Studies]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
      responses:
        '200':
          description: Study details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Study'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateStudy
      summary: Update a study
      tags: [Studies]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudyUpdate'
      responses:
        '200':
          description: Study updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Study'
        '404':
          $ref: '#/components/responses/NotFound'

  /studies/{study_id}/subjects:
    get:
      operationId: listSubjects
      summary: List subjects in a study
      tags: [Subjects]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/SubjectStatus'
      responses:
        '200':
          description: Paginated list of subjects
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subject'
                  total:
                    type: integer
    post:
      operationId: createSubject
      summary: Enroll a new subject
      tags: [Subjects]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubjectCreate'
      responses:
        '201':
          description: Subject enrolled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'

  /studies/{study_id}/subjects/{subject_id}:
    get:
      operationId: getSubject
      summary: Get subject details
      tags: [Subjects]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
        - $ref: '#/components/parameters/SubjectIdParam'
      responses:
        '200':
          description: Subject details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'
        '404':
          $ref: '#/components/responses/NotFound'

  /studies/{study_id}/sites:
    get:
      operationId: listSites
      summary: List sites in a study
      tags: [Sites]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of sites
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
    post:
      operationId: createSite
      summary: Add a site to a study
      tags: [Sites]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteCreate'
      responses:
        '201':
          description: Site added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'

  /studies/{study_id}/adverse-events:
    get:
      operationId: listAdverseEvents
      summary: List adverse events in a study
      tags: [Safety]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - name: severity
          in: query
          schema:
            type: string
            enum: [mild, moderate, severe, life_threatening, fatal]
        - name: serious
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of adverse events
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdverseEvent'
                  total:
                    type: integer
    post:
      operationId: reportAdverseEvent
      summary: Report an adverse event
      tags: [Safety]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdverseEventCreate'
      responses:
        '201':
          description: AE reported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdverseEvent'

  /studies/{study_id}/lab-results:
    get:
      operationId: listLabResults
      summary: List lab results in a study
      tags: [Labs]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - name: subject_id
          in: query
          schema:
            type: string
            format: uuid
        - name: visit_name
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of lab results
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LabResult'

  /studies/{study_id}/lab-results/{lab_result_id}:
    get:
      operationId: getLabResult
      summary: Get a specific lab result
      tags: [Labs]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
        - name: lab_result_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lab result details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabResult'

  /studies/{study_id}/medications:
    get:
      operationId: listMedications
      summary: List medications in a study
      tags: [Medications]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of medications
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Medication'
    post:
      operationId: recordMedication
      summary: Record a medication
      tags: [Medications]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicationCreate'
      responses:
        '201':
          description: Medication recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Medication'

  /studies/{study_id}/queries:
    get:
      operationId: listQueries
      summary: List queries in a study
      tags: [Queries]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [open, answered, closed, cancelled, reopened]
      responses:
        '200':
          description: List of queries
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Query'

  /studies/{study_id}/visits:
    get:
      operationId: listVisits
      summary: List visits in a study
      tags: [Visits]
      parameters:
        - $ref: '#/components/parameters/StudyIdParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of visits
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Visit'

components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.cdos.io/oauth2/token
          scopes:
            read: Read access
            write: Write access

  parameters:
    StudyIdParam:
      name: study_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    SubjectIdParam:
      name: subject_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    OffsetParam:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0

  schemas:
    StudyStatus:
      type: string
      enum: [draft, active, activation_pending, enrolling, enrollment_complete, treatment, follow_up, suspended, locked, completed, terminated]
    SubjectStatus:
      type: string
      enum: [screening, screened, enrolled, randomized, on_treatment, completed, discontinued, screen_failed, withdrawn]
    AdverseEventSeverity:
      type: string
      enum: [mild, moderate, severe, life_threatening, fatal]
    AdverseEventSeriousness:
      type: string
      enum: [serious, non_serious]
    QueryStatus:
      type: string
      enum: [open, answered, closed, cancelled, reopened]
    QueryPriority:
      type: string
      enum: [low, medium, high, critical]
    LabResultStatus:
      type: string
      enum: [pending, received, verified, query, resolved, rejected]
    Study:
      type: object
      required: [study_id, protocol_number, title, short_title, phase, status, sponsor_id, indication, target_enrollment]
      properties:
        study_id:
          type: string
          format: uuid
        protocol_number:
          type: string
          example: "CDOS-2026-001"
        title:
          type: string
        short_title:
          type: string
        phase:
          type: string
          pattern: "^(I|II|III|IV|I/II|II/III|NA)$"
        status:
          $ref: '#/components/schemas/StudyStatus'
        sponsor_id:
          type: string
          format: uuid
        indication:
          type: string
        therapeutic_area:
          type: string
        target_enrollment:
          type: integer
          minimum: 0
        actual_enrollment:
          type: integer
          minimum: 0
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    StudyCreate:
      type: object
      required: [protocol_number, title, short_title, phase, sponsor_id, indication, target_enrollment]
      properties:
        protocol_number:
          type: string
        title:
          type: string
        short_title:
          type: string
        phase:
          type: string
          pattern: "^(I|II|III|IV|I/II|II/III|NA)$"
        sponsor_id:
          type: string
          format: uuid
        indication:
          type: string
        therapeutic_area:
          type: string
        target_enrollment:
          type: integer
          minimum: 0
    StudyUpdate:
      type: object
      properties:
        title:
          type: string
        status:
          $ref: '#/components/schemas/StudyStatus'
        therapeutic_area:
          type: string
    Subject:
      type: object
      required: [subject_id, study_id, site_id, subject_number]
      properties:
        subject_id:
          type: string
          format: uuid
        study_id:
          type: string
          format: uuid
        site_id:
          type: string
          format: uuid
        subject_number:
          type: string
        status:
          $ref: '#/components/schemas/SubjectStatus'
        screening_date:
          type: string
          format: date
        enrollment_date:
          type: string
          format: date
        date_of_birth:
          type: string
          format: date
        sex:
          type: string
          pattern: "^(M|F|U)$"
        ethnicity:
          type: string
        race:
          type: string
        consent_date:
          type: string
          format: date
        discontinuation_reason:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SubjectCreate:
      type: object
      required: [site_id, subject_number]
      properties:
        site_id:
          type: string
          format: uuid
        subject_number:
          type: string
        sex:
          type: string
          pattern: "^(M|F|U)$"
        race:
          type: string
        ethnicity:
          type: string
    Site:
      type: object
      required: [site_id, site_number, site_name, country, status]
      properties:
        site_id:
          type: string
          format: uuid
        site_number:
          type: string
        site_name:
          type: string
        investigator_id:
          type: string
          format: uuid
        address_line1:
          type: string
        address_line2:
          type: string
        city:
          type: string
        state_province:
          type: string
        postal_code:
          type: string
        country:
          type: string
        phone:
          type: string
        email:
          type: string
        status:
          type: string
          enum: [pending, active, suspended, closed]
        activation_date:
          type: string
          format: date
        irb_approval_date:
          type: string
          format: date
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SiteCreate:
      type: object
      required: [site_number, site_name, country]
      properties:
        site_number:
          type: string
        site_name:
          type: string
        country:
          type: string
        investigator_id:
          type: string
          format: uuid
    AdverseEvent:
      type: object
      required: [ae_id, subject_id, study_id, site_id, term, severity, onset_date]
      properties:
        ae_id:
          type: string
          format: uuid
        subject_id:
          type: string
          format: uuid
        study_id:
          type: string
          format: uuid
        site_id:
          type: string
          format: uuid
        term:
          type: string
        meddra_code:
          type: string
        severity:
          $ref: '#/components/schemas/AdverseEventSeverity'
        seriousness:
          $ref: '#/components/schemas/AdverseEventSeriousness'
        onset_date:
          type: string
          format: date
        resolution_date:
          type: string
          format: date
        outcome:
          type: string
        causality:
          type: string
        is_sae:
          type: boolean
        is_susar:
          type: boolean
        reported_to_regulator:
          type: boolean
        narrative:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AdverseEventCreate:
      type: object
      required: [subject_id, term, severity, onset_date]
      properties:
        subject_id:
          type: string
          format: uuid
        term:
          type: string
        severity:
          $ref: '#/components/schemas/AdverseEventSeverity'
        onset_date:
          type: string
          format: date
        causality:
          type: string
        outcome:
          type: string
    LabResult:
      type: object
      required: [lab_result_id, subject_id, study_id, site_id, visit_name, specimen_type, test_name, test_code, result_value, collection_date]
      properties:
        lab_result_id:
          type: string
          format: uuid
        subject_id:
          type: string
          format: uuid
        study_id:
          type: string
          format: uuid
        site_id:
          type: string
          format: uuid
        visit_name:
          type: string
        specimen_type:
          type: string
        test_name:
          type: string
        test_code:
          type: string
        result_value:
          type: string
        unit:
          type: string
        reference_range_low:
          type: string
        reference_range_high:
          type: string
        normal_flag:
          type: string
          pattern: "^(NORMAL|HIGH|LOW|ABNORMAL|ND)?$"
        collection_date:
          type: string
          format: date
        collection_time:
          type: string
        status:
          $ref: '#/components/schemas/LabResultStatus'
        lab_name:
          type: string
        comments:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Medication:
      type: object
      required: [medication_id, subject_id, study_id, drug_name]
      properties:
        medication_id:
          type: string
          format: uuid
        subject_id:
          type: string
          format: uuid
        study_id:
          type: string
          format: uuid
        drug_name:
          type: string
        atc_code:
          type: string
        dose:
          type: string
        dose_unit:
          type: string
        route:
          type: string
        frequency:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        indication:
          type: string
    MedicationCreate:
      type: object
      required: [subject_id, drug_name, dose, dose_unit]
      properties:
        subject_id:
          type: string
          format: uuid
        drug_name:
          type: string
        atc_code:
          type: string
        dose:
          type: string
        dose_unit:
          type: string
        route:
          type: string
        frequency:
          type: string
        start_date:
          type: string
          format: date
    Query:
      type: object
      required: [query_id, study_id, subject_id, site_id, crf_page, field_name, query_text, raised_by]
      properties:
        query_id:
          type: string
          format: uuid
        study_id:
          type: string
          format: uuid
        subject_id:
          type: string
          format: uuid
        site_id:
          type: string
          format: uuid
        crf_page:
          type: string
        field_name:
          type: string
        query_text:
          type: string
        status:
          $ref: '#/components/schemas/QueryStatus'
        priority:
          $ref: '#/components/schemas/QueryPriority'
        raised_by:
          type: string
        assigned_to:
          type: string
        response:
          type: string
        responded_by:
          type: string
        responded_at:
          type: string
          format: date-time
        auto_generated:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Visit:
      type: object
      required: [visit_id, subject_id, study_id, visit_name]
      properties:
        visit_id:
          type: string
          format: uuid
        subject_id:
          type: string
          format: uuid
        study_id:
          type: string
          format: uuid
        visit_name:
          type: string
        visit_number:
          type: integer
        scheduled_date:
          type: string
          format: date
        actual_date:
          type: string
          format: date
        status:
          type: string
          enum: [scheduled, in_progress, completed, missed, cancelled]

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    Unauthorized:
      description: Authentication required
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    Conflict:
      description: Resource conflict
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    ProblemDetail:
      type: object
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
          format: uri
